.imap-controls, .imap-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    pointer-events: none;
    overflow: hidden;
}

.imap-controls *, .imap-overlays * {
    pointer-events: auto;
}

.imap-floor-control {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;
    background: white;
    border: solid 1px #dfdfdf;
    text-align: center;
    border-radius: 3px;
    font-size: 14px;
    padding: 0;
}

.imap-floor-control li {
    list-style: none;
    line-height: 25px;
    width: 25px;
    height: 25px;
    border-bottom: solid 1px #dfdfdf;
}

.imap-floor-control li:last-child {
    border-bottom: none;
}